.post-title {
    font-size: 18px;
    color: black; 
    font-weight: 700;
}

.post-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-date {
    font-size: 14px;
    color: black; 
    font-weight: 300;
}

.post-text {
    font-size: 16px;
    color: #131313; 
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.post-source {
    color: black;
    font-weight: 500;
}

.post-source:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}